.posts-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align elements */
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0 2%;
    position: relative; /* Ensure that sticky button is relative to this container */
    
  }
  
  /* Sticky Button for adding a post */
  
  
  /* Add Post Section */
  .add-post-section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Search Bar */
  .search-bar {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 8px;
    width: 100%;
    background-color: #f7fafc;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    transition: all 0.3s;
    color: #2d3748;
    font-size: 1em;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #007BFF; /* Highlight on focus */
  }
  
  /* Posts List Section */
  .posts-list {
    display: flex;
    flex-direction: column; /* Stack posts vertically */
    width: 100%;
    gap: 20px; /* Space between posts */
    padding: 0 5%; /* Adjust padding around posts */
  }
  
  /* Styling for 'No posts found' message */
  .posts-list p {
    font-size: 1.2em;
    color: #666;
    text-align: center;
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    .posts-container {
      padding: 0 5%; /* Increase padding on larger screens */
    }
  
    .posts-list {
      gap: 30px; /* Increase the gap between posts on larger screens */
    }
  }
  /* Sticky Button for adding a post */
  .toggle-add-post-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    position: fixed; /* Fix the button position relative to the viewport */
    bottom: 30px; /* Distance from the bottom of the viewport */
    right: 30px; /* Distance from the right of the viewport */
    z-index: 10; /* Keep it on top of other content */
}

.toggle-add-post-btn:hover {
    background-color: #0056b3;
}

.toggle-add-post-btn:focus {
    outline: none;
}