.add-post-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 3%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* max-width: 35%; */
}

.add-post-heading {
  text-align: center;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.add-post-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.submit-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}