/* .post-card styles */
.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-card.dark {
  background-color: #2d3748; /* Dark background */
  color: #fff; /* Light text color in dark mode */
}

.post-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post-card-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-card-user-info {
  flex: 1;
}

.post-card-user-name {
  font-weight: bold;
  color: #333;
  font-size: 1.1em;
}

.post-card-location {
  color: #888;
  font-size: 0.9em;
}

.post-card-timestamp {
  color: #888;
  font-size: 0.9em;
}

.post-card-body {
  margin-bottom: 20px;
}

.post-card-description {
  font-size: 1em;
  color: #333;
}

.post-card-toggle-text {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.post-card-image {
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  max-height: 500px;
  object-fit: cover;
}

.post-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.post-card-likes,
.post-card-comments {
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.post-card-likes svg,
.post-card-comments svg {
  margin-right: 5px;
}

.post-card-comment-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.post-card-comment-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1em;
}

.post-card-submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.post-card-submit-button:hover {
  background-color: #0056b3;
}

.post-card-comment {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 2px solid #ddd;
  margin-bottom: 10px;
}

.post-card-comment-header {
  display: flex;
  align-items: center;
}

.post-card-comment-user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-card-comment-user-name {
  font-weight: bold;
  font-size: 1em;
  color: #333;
}

.post-card-comment-text {
  margin-top: 5px;
  font-size: 1em;
  color: #555;
}

.post-card-comment-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.post-card-reply-button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-card-reply-button:hover {
  background-color: #218838;
}

.post-card-delete-comment-button,
.post-card-delete-reply-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.post-card-delete-comment-button:hover,
.post-card-delete-reply-button:hover {
  background-color: #c82333;
}

.post-card-replies {
  margin-top: 10px;
  padding-left: 30px;
}

.post-card-reply {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-card-reply-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-card-reply-user-name {
  font-weight: bold;
  color: #333;
}

.post-card-reply-text {
  font-size: 1em;
  color: #555;
}

.post-card-reply-comment-time {
  color: #888;
  font-size: 0.8em;
}

.post-card-delete {
  cursor: pointer;
  color: #e74c3c;
  font-size: 0.9em;
}

.post-card-delete:hover {
  text-decoration: underline;
}

/* Dark Mode Styles for Post Card */
.post-card.dark .post-card-header {
  color: #fff;
}

.post-card.dark .post-card-description,
.post-card.dark .post-card-location,
.post-card.dark .post-card-timestamp {
  color: #ccc;
}

.post-card.dark .post-card-toggle-text {
  color: #00b5ff;
}

.post-card.dark .post-card-likes,
.post-card.dark .post-card-comments {
  color: #fff;
}

.post-card.dark .post-card-submit-button {
  background-color: #007bff;
}

.post-card.dark .post-card-submit-button:hover {
  background-color: #0056b3;
}

.post-card.dark .post-card-reply-button {
  background-color: #28a745;
}

.post-card.dark .post-card-reply-button:hover {
  background-color: #218838;
}

.post-card.dark .post-card-delete-comment-button,
.post-card.dark .post-card-delete-reply-button {
  background-color: #e74c3c;
}

.post-card.dark .post-card-delete-comment-button:hover,
.post-card.dark .post-card-delete-reply-button:hover {
  background-color: #c82333;
}
